*, ::before,::after{
   box-sizing: border-box; 
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
    margin: 0;
}
h4,p,h5{
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
a:hover {
    color: blue;
}
.containerMain {
    max-width: 100%;
    background-color: silvers;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin: 20px 0px;
}

/* style navigator */
.containerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 150px;
    position: relative;
    margin: 0px 80px;
}
.containerNav div:nth-child(1) {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.containerNav div:nth-child(1) div{
    font-size: 20px;
}
.containerNav div:nth-child(1) div span{
    font-weight: 900;
}
.containerNav div:nth-child(2) ul{
    display: flex;
    column-gap: 30px;
}
.containerNav div:nth-child(3) ul{
    display: flex;
    align-items: center;
    column-gap: 30px;
}
.bxHide{
    font-size: 50px;
    display: none !important;
   cursor: pointer;
}
/* menu side */
.MenuSide{
    width: 300px;
    height: 100vh;
    background-color: aliceblue;
    position: absolute;
    right: 0px;
    top: 100px;
    cursor: pointer;
    display: none;
    border-radius: 10px;
} 
.showMenu{
    display: block;
}
.MenuSide ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 50px;
}
.MenuSide ul li{
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    background-color: white;
}
.MenuSide ul li:hover {
    background-color: blue;
}
.MenuSide ul li a{
    display: block;
    font-size: 25px;
    width: 100%;
}
.MenuSide ul li:hover{
    background-color: white;
}
.containerNav div:nth-child(3) ul li:nth-child(1){
    font-weight: 700;
}
.containerNav div:nth-child(3) ul li:nth-child(2){
    border: 2px solid red;
    padding: 10px 30px;
    border-radius: 20px;
    color: red;
}
.containerNav div:nth-child(3) ul li:nth-child(2) a{
    color: red;
}
/* style container first */
.containerFirst{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto ;
    grid-template-areas: 
    'first second'
    'fird fird';
    column-gap: 30px;
    row-gap: 80px;
    margin: 0px 80px;
}
.containerUsers {
    grid-area: fird;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    box-shadow: 0px 25px 10px rgb(214, 212, 212);
    border-radius: 10px;
}
.containerImg{
   grid-area: second;
}
.containerImg img{
    max-width: 100%;
    height: 100%;
}
.containerText{
    grid-area: first;
    width: 100%;
}
.containerUsers div{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 
    'img hh'
    'img pp';
    justify-content: center;
    column-gap: 30px;
    row-gap: 10px;
}
.containerUsers div img{
    grid-area: img;
    align-self: center;
}
.containerUsers div h4{
    grid-area: hh;
    font-size: 30px;
    align-self: self-end;
}
.containerUsers div p{
    grid-area: pp;
    font-size: 20px;
}
.containerUsers > div:nth-child(1),.containerUsers > div:nth-child(2){
    border-right: 2px solid silver;
}
.containerFirst .containerText h3{
    font-size: 50px;
    font-weight: 400;
}
.containerFirst .containerText h3 span{
    font-weight: 900;
    font-size: 60px;
}
.containerFirst .containerText p{
    font-size: 20px;
    line-height: 30px;
    color: grey;
}
.containerFirst .containerText button{
    width: 40%;
    height: 50px;
    margin-top: 50px;
    background-color: red;
    border: none;
    outline: none;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    box-shadow: 0px 25px 10px rgb(214, 212, 212);
}
/* style containerSecond */
.containerSecond {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    column-gap: 50px;
    margin: 50px 80px;
}
.containerSecond .img2{
    max-width: 100%;
}
.containerSecond .img2 img{
    max-width: 100%;
    min-height: 100%;
}
.containerSecond .containerText2 {
    margin: 50px 0px 0px 80px;
}
.containerText2 h2{
    font-size: 40px;
}
.containerText2 p {
    font-size: 20px;
    margin-bottom: 33px;
}
.containerText2 ul li{
    display: flex;
    column-gap: 10px;
    margin-bottom: 20px;
}
.containerText2 ul li:nth-child(4){
    margin: 0;
}
.containerText2 ul li i{
    font-size: 20px;
    color: green;
    line-height: 20px;
}
/* style containerFird */
.containerFird{
    background-color: rgb(249, 245, 245);
    padding: 50px 80px;
}
.containerFird > h2{
    font-size: 40px;
    text-align: center;
}
.containerFird > p{
    text-align: center;
    line-height: 25px;
}
/* style containerBox */
.containerBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
    margin: 50px 0px 100px 0px;
}
.containerBox > div{
    border: 2px solid silver;
    padding: 50px 50px 30px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    row-gap: 20px;
}
.containerBox .active {
    border-color: red;
}
.containerBox > div img{
    margin-bottom: 30px;
}
.containerBox > div div .pfirst {
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
}
.containerBox > div ul li i{
    color: green;
    margin-right: 10px;
}
.containerBox > div ul li{
    margin-bottom: 20px;
}
.containerBox > div .self{
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.containerBox > div .self h4{
    font-size: 20px;
}
.containerBox > div .self strong{
    font-size: 20px;
}
.containerBox > div .self span{
    color: gray;
    font-size: 18px;
}
.containerBox > div .self div{
    border: 2px solid red;
    padding: 10px 60px;
    margin-top: 10px;
    border-radius: 20px;
    cursor: pointer;
}
.containerBox > div .self div:hover{
    background-color: red;
}
.containerBox > div .self div:hover a{
    color: white;
}
.vector{
    margin-top: 100px;
    position: relative;
}
.vector img{
    max-width: 100%;
    object-fit: contain;
}
.item1 {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.item1 div{
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: red;
}
.place1{
    top: 30%;
    left: 20%;
}
.place2{
    top: 40%;
    left: 16%;
}
.place3{
    bottom: 30%;
    left: 29%;
}
.place4 {
    top: 40%;
    right: 25%;
}
.place5 {
    top: 40%;
    right: 35%;
}
.place6{
    bottom: 20%;
    right: 15%;
}
.place7 {
    bottom: 20%;
    right: 45%;
}
.place8{
    bottom: 45%;
    right: 50%;
}
.place9 {
    bottom: 75%;
    right: 35%;
}
.item2{
    width: 18px;
    height: 18px;
    border-radius: 100%;
    border: 1.5px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.item2 div{
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: red;
}
.place10{
    top: 20%;
    left: 15%;
}
.place11{
    top: 10%;
    left: 35%;
}
.place12 {
    bottom: 10%;
    left: 27%;
}
.place13{
    bottom: 30%;
    left: 55%;
}
.place14 {
    bottom: 70%;
    right: 20%;
}
.place15{
    bottom: 40%;
    right: 40%;
}
.place16{
    bottom: 65%;
    right: 50%;
}
.place17{
    bottom: 30%;
    left: 35%;
}
.place18 {
    bottom: 60%;
    right: 40%;
}
.item3{
    width: 14px;
    height: 14px;
    border-radius: 100%;
    border: 1.5px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.item3 div{
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: red;
}
.place19 {
    bottom: 20%;
    left: 30%;
}
.place20 {
    top: 17%;
    left: 5%;
}
.place21{
    bottom: 60%;
    right: 22%;
}
.place22{
    bottom: 75%;
    right: 30%;
}
.place23{
    bottom: 55%;
    right: 50%;
}
.place24{
    bottom: 90%;
    left: 31%;
}
/* style container brand */
.brand{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100px;
    column-gap: 20px;
    padding: 50px 0px;
}
.brand div{
   padding: 20px 0px;
}
.brand div:nth-child(3){
    padding: 0;
}
.brand div img{
    max-width: 100%;
    height: 100%;
}
.containerSlider {
    height: 350px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 150px;
}
.slider {
    max-width: 100%;
    height: 80%;
}
.cart {
    border: 2px solid silver;
    border-radius: 15px;
    padding: 30px;
}
.cart .client {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.cart .client .img{
    display: flex;
    column-gap: 20px;
    align-items: center;
}
.cart .text h5{
    font-size: 25px;
}
.cart .text p{
    font-size: 20px;
}
.cart .feedback {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.cart .feedback h5 {
    font-size: 25px;
}
.cart .feedback i {
    color: yellow;
    font-size: 25px;
}
.cart > p{
    font-size: 18px;
    line-height: 30px;
}
.btn {
    width: 120px;
    height: 50px;
    font-size: 30px;
    position: absolute;
    bottom: 0px;
    right: 50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.btn .btnone{
    width: 50px;
    height: 50px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;line-height: 50px;
    cursor: pointer;
}
.btn .btntwo{
    width: 50px;
    height: 50px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    line-height: 50px;
    cursor: pointer;
}
.pagination {
   position: absolute;
   bottom: 7px;
   left: 0px;
   width: 100px;
}
.pagination .swiper-pagination-bullet {
   background-color: red;
   width: 10px;
   height: 10px;
}
footer {
    background-color: rgb(236, 234, 234);
    padding: 150px 100px 100px 100px;
    display: flex;
    justify-content: space-between;
}
footer .logo{
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 20px;
}
footer .logo span{
    font-size: 20px;
    font-weight: 900;
}
footer .column1 p{
    font-size: 14px;
    line-height: 25px;
    opacity: 0.7;
    margin-bottom: 20px;
}
footer .column1 .socialMedia .bx{
    font-size: 25px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: white;
    color: red;
    line-height: 30px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 10px 15px white;
    cursor: pointer;
}
footer .column1 p:nth-child(2){
    opacity: 0.6;
}
footer .column h5{
    font-size: 18px;
    margin-bottom: 36.5px;
}
footer .column li{
    margin-bottom: 20px;
    opacity: 0.7;
    cursor: pointer;
}
footer .column li:hover{
    color: blue;
}
.containerSubscribe{
    width: 80%;
    min-height: 200px;
    background-color: aquamarine;
    position: absolute;
    bottom: -70%;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
}
.containerSubscribe h2{
    font-size: 30px;
}
.containerSubscribe p{
    opacity: 0.6;
}
.containerSubscribe button{
    border: none;
    padding: 20px 50px;
    color: white;
    background-color: red;
    border-radius: 10px;
    cursor: pointer;
}
.containerSubscribe button:hover{
    opacity: 0.6;
}

@media screen and (max-width: 1080px){
    .containerBox {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 50px;
    }
    .containerBox .active  {
        grid-column: span 2;
        margin: 0px 150px;
    }
    .containerFirst .containerText h3 {
       font-size: 40px;
    }
    .containerFirst .containerText h3 span {
        font-size: 50px;
    }
    .containerSubscribe {
        padding: 0px 20px;
    }
    footer {
        padding: 150px 20px 100px;
    }
}
@media screen and (max-width: 900px){
    .containerNav div:nth-child(2) ul{
        display: none;
    }
    .item1 {
        width: 20px;
        height: 20px;
    }
    .item1 div{
        width: 10px;
        height: 10px;
    }
    .item2{
        width: 14px;
        height: 14px;
    }
    .item2 div{
        width: 6px;
        height: 6px;
    }
    .item3{
        width: 10px;
        height: 10px;
    }
    .item3 div{
        width: 4px;
        height: 4px;
    }
    .bxHide {
        display: block !important;
    }
    .containerSubscribe button {
        padding: 15px 40px;
    }
    
}
@media screen and (max-width: 800px) {
    .containerFirst {
        display: flex;
        flex-direction: column;
    }
    .containerText {
        text-align: center;
    }
    .containerSecond {
        grid-template-columns: repeat(1, 1fr);
    }
    footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 50px;
        grid-template-areas: 
        'aa bb cc'
        'last last last'
        ;
        padding-bottom: 20px;
        text-align: center;
    }
    .column1 {
        grid-area: last;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .column1 p:nth-child(2){
        display: none;
    }
    footer   .column:nth-child(2){
        grid-area: aa;
    }
    footer   .column:nth-child(3){
        grid-area: bb;
    }
    footer   .column:nth-child(4){
        grid-area: cc;
    }
    .containerSubscribe {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 770px){
    .containerBox {
        display: flex;
        flex-direction: column;
        margin: 0px 50px;
    }
    .containerBox .active {
        margin: 0px;
    }
    .containerNav div:nth-child(3) ul li{
        display: none;
    }
    .containerUsers {
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        padding: 0;
    }
    .containerUsers div{
        justify-content: flex-start;
        width: 50%;
    
    }
    .containerUsers > div:nth-child(1),
     .containerUsers > div:nth-child(2) {
        border-right: none;
        border-bottom: 2px solid silver;
    }
    footer .column1 p {
        display: none;
    }
    .column1 {
        grid-area: last;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 560px){
    .containerBox {
        margin: 0px;
    }
    .brand {
        grid-template-columns: repeat(3, 1fr);
    }
    .containerNav,.containerFirst,
    .containerSecond,.containerFird{
        margin: 0PX;
    }
    .containerSecond .containerText2 {
        margin: 0px;
    }
    .containerFird{
        padding: 0px;
    }
   
    footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 50px;
        grid-template-areas: 
        'aa bb cc'
        'last . last'
        ;
        padding-bottom: 20px;
        text-align: center;
    }
    
}
